@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@theme {
  /* COLOR */
  --color-royal-purple: #7E22CE;
  --color-gray : #242424;
  --color-dark-gray : #141414;

  /* BREAKPOINTS*/

  --breakpoint-xs: 15rem;






  /* ANIMATION */
  --animate-shine: shine 5s linear infinite;

  @keyframes shine {
    0% { 
      background-position: 100%;
    }
    100% { 
      background-position: -100%;
    }
  }

  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top: star-movement-top linear infinite alternate;

  @keyframes star-movement-bottom{
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100%{
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

    @keyframes star-movement-top{
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }






}





#root {
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
 

  
}

::-webkit-scrollbar{
    width: 5px;
   
    
}

::-webkit-scrollbar-track{
  background-color: none;
  

}

::-webkit-scrollbar-thumb{
  background: balck;
  border-radius: 10px;
  border: 1px solid #7E22CE;

}







html, body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #141414;

}








